 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


/*login*/

.user_form{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user_form .gmail_login_btn{
  padding: 10px 20px;
  font-size: 20px;
  background-color: green;
  color: azure;
  border: 1px solid;
  cursor: pointer;
  transition: 0.4s ease-in-out;

}
.user_form .gmail_login_btn:hover{
background: transparent;
color: tomato;
border: ;

} 




/*admin*/

.admin_page{
  display: none;
}

.admin_section{
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
}

.admin_section button{
  padding: 5px 20px;
  font-size: 20px;
  color: aliceblue;
  background: black;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.admin_section button:hover{
  color: rgb(34, 89, 216);
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}



.show{
  display: block;
}
.hide{
  display: none;
} 


